code {
    background-color: #E4E5E7;
}

div.level1 {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center; 
}

div.level1 h1 {
    margin: 0;
    padding: 0;
}
